.background-left {
    background-color: #4D5656  ;
    color:#E5E7E9;
}

.background-right {
    background-color:#E5E7E9 ;
}

.font-color-gray{
    color: #626567  ;
}

.float-left {
    float: left;
}

ul.demo {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
    
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }

a {
    color:#E5E7E9;
}

.left-box {
    height: 695px;
    width:14%;
    position: fixed;
}

.right-box {
    padding-left: 18px;
}

.bottom {
    bottom: 0px;
    position: absolute;

}

.padding {
    padding-left: 30px;
    padding-right: 0px;
  }

  .font{
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  .font2{
    font-family: 'Open Sans', sans-serif;
  }
  
  .center {
    margin: auto;
    width: 70%;
    padding: 25px;
    text-align: center;
  }
  .center2 {
    margin: auto;
    padding: 30px;
    text-align: left;
  }

  .padding2{
      padding-right: 15px;
      padding-top: 18px;
  }

  .float-right {
      float: right;
      width:83%
  }

  .box-shadow {
       
        padding: 10px;
        box-shadow: 5px 10px 8px #888888;
 }

  .comment-color {
      background-color:#BFC9CA  ;
      border-left: 5px solid #909497  ;
      width:800px ;
      color: #909497 ;
  }

  .quotes-font{
    font-family: 'Coustard', serif;
  }

  .center-comment {
    margin: auto;
    padding: 0px;
    padding-left: 100px;
    text-align: left;
  }

  div.a {
      float: right;
      padding-top: 50px;
  }


 

 
  